
.navbar{
    font-size: small;
    font-weight: 450;
    display: flex;
    flex-direction: column;
    height: 2.2rem;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 15%;
  }
  
  .nav-navigator{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-top: 1px solid #ececec;
  }

  .nav-elem{
    color: black;
    cursor: pointer;
    margin: auto;
  }

  .nav-elem:hover{
    color: rgb(104, 104, 104);
  }
  
  .nav-line{
    height: 1px;
    width: 60%;
    background-color: black;
  }

  .dropdown{
    display: none;
    /* position: relative; */
  }

  #input-checkbox{
    display: none;
  }

  .dropdown-button{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }

  .dropdown-button span,   .dropdown-button span::after,
  .dropdown-button span::before{
    height: 1px;
    width: 0.8rem;
    background-color: black;
    border-radius: 2px;
    transition: 0.3s;
  }

  .dropdown-button span::after, .dropdown-button span::before{
    content: '';
    display: inline-block;
    position: absolute;
  }


  .dropdown-button span::after{
    top: 1rem;
  }

  .dropdown-button span::before{
    top: 0.5rem;
  }

  #input-checkbox:checked + .dropdown-button{
    background-color: rgb(229, 229, 229);
  }

  #input-checkbox:checked + .dropdown-button span{
    background-color: transparent;
  }

  #input-checkbox:checked + .dropdown-button span::after{
    transform: rotate(-45deg);
    top: 0.75rem;
  }

  #input-checkbox:checked + .dropdown-button span::before{
    transform: rotate(45deg);
    top: 0.75rem;
  }

  .dropdown-content{
    /* display: none; */
    top: 2.2rem;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    width: 60%;
    background-color: #f5f5f5;
    left: 20%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .dropdown-elem{
    padding: 0.4rem 10px;
    /* border-bottom: 1px solid #ececec; */
  }


  @media only screen and (max-width: 900px) {
    /* styles for screens smaller than 900px */
    .nav-elem{
      display: none;
    }

    .dropdown{
      display: block;
    }
  }