
.first-segment-container{
    width: 96%;
    height: auto;
    position: relative;
    top: 40px;
    padding: 0% 2%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.content-container-1{
    height: auto;
    position: relative;
    flex: 0.53;
    display: flex;
    flex-direction: column;
}

.content-container-1::after{
    content: '';
    height: 100%;
    border-left: 1px dotted rgb(152, 152, 152);
    position: absolute;
    right: -15px;
    z-index: 3;
}

.content-container-2{
    position: relative;
    flex: 0.17;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 53px;
}

.content-container-2::after{
    content: '';
    height: 100%;
    border-left: 1px dotted rgb(152, 152, 152);
    position: absolute;
    right: -15px;
    z-index: 3;
}

.content-container-3{
    flex: 0.30;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.container-1-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    position: relative;
    top: 2%;
}

.grid-elem{
    position: relative;
}

.grid-elem::after{
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px dotted  rgb(152, 152, 152);
    bottom: -15px;
}

.first-segment-container .grid-elem:last-child::after,
.first-segment-container .grid-elem:nth-last-child(2):after
{
    display: none;
}

.main-segment-container::after{
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    border-top: 1px dotted  rgb(152, 152, 152);
    border-bottom: 1px dotted  rgb(152, 152, 152);
    position: absolute;
    bottom: -70px;
}

