
.segment-container{
    position: relative;
    left: 0;
    padding: 0 2%;
    height: auto;
    width: 96%;
}

.fourth-sec-container{
    display: flex;
    gap: 4%;
}

.fourth-segment-small-head{
    font-size: 1rem;
    margin-bottom: 30px;    
}

.fourth-segment-small-head::after{
    top:5px;
}
.fourth-segment-small-head::before{
    bottom:6px;
}

.section1{
    position: relative;
    width: 63%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section2{
    width: 37%;
    height: 100%;
    position: relative;
    right: 0;
}

.section-grid{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
}

.section-first-segment{
    flex: 0.55;
    position: relative;
}
.section-sec-segment{
    flex: 0.45;
    position: relative;
    overflow: hidden;
}

.section1::after{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: -3%;
    border-left: 1px dotted var(--border-color);
}

.entertainment-section{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:40px 25px;
}