.ninth-segment-container{
    top: 40px;
}

.ninth-seg-sec{
    display: flex;
    gap: 3%;
}

.ninth-seg-first-part{
    flex: 0.55;
}

.description-grid{
    flex: 0.45;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 40px;
}

.description-grid .description-card-container::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px dotted var(--border-color);
}

.description-grid .description-card-container:last-child::after, .ninth-segment-container .description-card-container:nth-child(7)::after{
    display: none;
}