.ninth-segment-container{
    margin-top: 40px;
}

.ninth-seg-sec{
    display: flex;
    gap: 30px;
}

.ninth-seg-first-part{
    flex: 0.52;
}

.description-grid{
    flex: 0.48;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 20px;
}

.description-grid .description-card-container::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -20px;
    border-top: 1px dotted var(--border-color);
}

.ninth-segment-container .description-grid .description-card-container:last-child::after, .ninth-segment-container .description-card-container:nth-child(10)::after,
.ninth-segment-container .description-card-container:nth-child(9)::after{
    display: none;
}