
.second-segment-container{
    height: auto;
    width: 96%;
    position: relative;
    left: 0;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.section-head{
    position: relative;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 30px;
}

.second-section-head{
    margin-bottom: 0;
}

.section-head::after{
    content: '';
    position: absolute;
    width: 10px;
    border-top: 3px solid black;
    top: 7.5px;
    right: -15px;
    transform: rotate(45deg);
    transition: 0.4s;
}

.section-head::before{
    content: '';
    position: absolute;
    width: 10px;
    border-top: 3px solid black;
    bottom: 7.5px;
    right: -15px;
    transform: rotate(-45deg);
    transition: 0.7s;
}

.section-head:hover::after{
    transform: rotate(225deg);
}

.section-head:hover::before{
    transform: rotate(135deg);
}

.section{
    flex: 1;
}

.sec-container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sec-container-segment{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sec-container-segment::before{
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px dotted rgb(152, 152, 152);
    top: -15px;
}


.second-segment-container::after{
    bottom: -50px;
}

.sec-container-segment .description-card-container::after{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: -10px;
    border-left: 1px dotted var(--border-color);
}

.sec-container-segment .description-card-container:last-child::after{
    display: none;
}