
.image-card-container{
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.image-card-image-container{
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.image-card-image{
    border-radius: 7px;
    transition: 0.5s;
    height: 100%;
    width: 100%;
}

.image-card-image:hover{
    transform: scale(1.1);
}
