
.image-card-container{
    position: relative;
    overflow: hidden;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.image-card-image-container{
    height: 70%;
    width: 100%;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.image-card-image{
    border-radius: 7px;
    transition: 0.6s;
    height: 100%;
    width: 100%;
}

.image-card-container:hover .image-card-image{
    transform: scale(1.05);
}

.image-card-description{
    height: 30%;
    width: 100%;
    position: relative;
}

.image-card-description .description-card{
    line-height: 1rem;
}