
.main-card-container{
    width: 100%;
    /* padding-bottom: 60%; */
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    font-size: 40px;
}

.main-card-image-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-card-image{
    height: 100%;
    width: 100%;
    border-radius: 7px;
    transition: 2s ease-out;
}

.main-card-image:hover{
    transform: scale(1.1);
}


.main-card-description{
    /* font-size: 2rem; */
    font-weight: 900;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.683), rgba(0, 0, 0, 0));
    /* backdrop-filter: blur(10px); */
}

.main-card-container::before{
    content: '';
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.191), rgba(0, 0, 0, 0));
    z-index: 1;
}

.main-card{
    transition: 1s;
}

.hide{
    opacity: 0;
}
