
.mini-card-container{
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.card-image-container{
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.card-image{
    height: 100%;
    width: 100%;
    transition: 1s;
}

.card-image:hover{
    transform: scale(1.1);
}

.card-description{
    position: relative;
    height: 35%;
    width: 90%;
    margin: 5%;
}

.mini-card-caption {
    line-height: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /*Adjust the number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }


.description-card-container{
    position: relative;
    cursor: pointer;
}

.description-card-container::-webkit-scrollbar{
    display: none;
}

.description-card{
    height: 95%;
    width: 95%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /*Adjust the number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.description-card-container  div:hover{
    color: var(--primary-hover-color);
}