

.card-container{
    border-radius: 7px;
    position: relative;
    overflow: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image-container{
    height: 55%;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.card-image{
    height: 100%;
    width: 100%;
    transition: 1s;
}

.card-image:hover{
    transform: scale(1.1);
}

.card-description{
    position: relative;
    height: 35%;
    width: 90%;
    margin: 5%;
}

.description-card-container{
    position: relative;
    cursor: pointer;
}

.description-card-container::-webkit-scrollbar{
    display: none;
}

.description-card{
    height: 95%;
    width: 95%;
    overflow: hidden;
}
  
.description-card-container  div:hover{
    color: var(--primary-hover-color);
}