
.pages-main-container{
    position: relative;
}

.page-container{
    padding: 20px;
}

.page-counter{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.page-number {
    padding: 5px;
    border: 1px solid black;
    color: black;
    margin: 0px 5px;
    cursor: pointer;
    text-decoration: none;
}

.page-number.active-page-number {
    color: white;
    background-color: black;
}

.page-content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px 40px;
}

.page-content .description-card-container::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
    border-top: 1px dotted var(--border-color);
}

.page-content .description-card-container:last-child:after,
.page-content .description-card-container:nth-last-child(2):after,
.page-content .description-card-container:nth-last-child(3):after
{
    display: none;
}