
.main-content-container{
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    min-height: 100%;
    max-height: auto;
    position: relative;
    top: 2%;
    display: flex;
    gap: 2%;
}

.content-container-1{
    flex: 0.5;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
}
.content-container-2{
    flex: 0.2;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.content-container-3{
    flex: 0.3;
    background-color: seashell;
    display: flex;justify-content: center;
}

