
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

  
  .navbar-top{
    font-size: x-small;
    height: 15%;
    width: 60%;
    position: relative;
    width: 60%;
    left: 20%;
    right: 20%;
    font-size: x-small;
  }

  .contact-nav{
    height: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }

  .social-media{
    display: flex;
    flex-wrap: nowrap;
  }

  .icon{
    height: 20px;
    width: 20px;
    margin: 0px 10px;
    margin-top: 3px;
    cursor: not-allowed;
    opacity: 0.3;
    transition: 0.3s;
  }

  .active-icon{
    cursor: pointer;
    opacity: 1;
  }

  .top-elem3::before{
    content: '';
    height: 100%;
    top: 0;
    width: 1px;
    position: absolute;
    background-color: #ececec;
  }

  .top-elem1{
    width: 22%;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-elem1::after{
    content: '';
    height: 100%;
    top: 0;
    width: 1px;
    position: absolute;
    left: 22%;
    background-color: #ececec;
  }

  .top-elem2{
    width: 44%;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-elem3{
    height: 100%;
    align-items: center;
  }


  .navigator-head{
    font-family: 'Anton', sans-serif;
    margin-left: 2%;
    font-weight: 400;
  }

  .main-head{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
  }

  .navbar{
    font-size:12px;
    font-weight: 450;
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    width: 100%;
    align-items: center;
    position: sticky;
    top: -1px;
    transition: 0.3s;
    z-index: 9;
  }
  
  .nav-navigator{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    background-color: #f5f5f5;
    border-top: 1px solid #ececec;
    box-shadow: rgba(0, 0.1, 0, 0.1) 0px -1px 5px -1px inset;
    z-index: 10;
  }

  .navigator-head{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
  }

  .navigator-head a{
    padding: 2px 6px;
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }

  a{
    text-decoration: none;
    color: black;
  }
  
  .nav-elem {
    height: 100%;
    flex: auto;
    cursor: pointer;
  }

  .nav-elem a{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-elem a::after {
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nav-elem:hover > a::after {
    display: block;
  }
  
  .navbar::after{
    content: '';
    background-color: black;
    height: 2px;
    width: 100%;
    z-index: 9;
  }

  .dropdown{
    display: none;
    margin-right: 2%;
  }

  #input-checkbox{
    display: none;
  }

  .dropdown-button{
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .dropdown-button span,   .dropdown-button span::after,
  .dropdown-button span::before{
    height: 1px;
    width: 0.8rem;
    background-color: black;
    border-radius: 2px;
    transition: 0.3s;
  }

  .dropdown-button span::after, .dropdown-button span::before{
    content: '';
    display: inline-block;
    position: absolute;
  }


  .dropdown-button span::after{
    top: 1rem;
  }

  .dropdown-button span::before{
    top: 0.5rem;
  }

  #input-checkbox:checked + .dropdown-button{
    background-color: rgb(229, 229, 229);
  }

  #input-checkbox:checked + .dropdown-button span{
    background-color: transparent;
  }

  #input-checkbox:checked + .dropdown-button span::after{
    transform: rotate(-45deg);
    top: 0.75rem;
  }

  #input-checkbox:checked + .dropdown-button span::before{
    transform: rotate(45deg);
    top: 0.75rem;
  }

  .dropdown-content-container{
    display: flex;
    width: 90%;
    top: 2.2rem;
    left: 0;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color:  white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    height: 0;
    animation: slide-up 0.2s linear forwards;
    z-index: 10;
  }

  .show{
    height: auto;
    animation: slide-down 0.2s linear  backwards;
  }

  @keyframes slide-up{
    from{
      height: 250px;
    }
    to{
      height: 0px;
    }
  }

  @keyframes slide-down{
    from{
      height: 0px;
    }
    to{
      height: 250px;
    }
  }

  .dropdown-content-container::after{
    content: '';
    height: 90%;
    top: 5%;
    width: 1px;
    background-color: #ececec;
    position: absolute;
    left: 37%;
  }

  .dropdown-content{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .dropdown-elem{
    padding: 0.4rem;
    /* border-bottom: 1px solid #ececec; */
    width: 30%;
    cursor: pointer;
    white-space: nowrap;
  }


  .main-container{
    height: 300vh;
    width: 70%;
    position: relative;
    left: 15%;
    font-size: 13px;
    font-weight: 450;
  }

  @media only screen and (max-width: 1000px) {
    /* styles for screens smaller than 1200px */
    
    .navbar-top{
      width: 90%;
      left: 5%;
    }

    .main-container{
      width: 90%;
      left: 5%;
    }

  }

  @media only screen and (max-width: 700px) {
    /* styles for screens smaller than 700px */

    .navbar-top{
      width: 100%;
      left: 0%;
    }

    .main-container{
      width: 100%;
      left: 0%;
    }

    .main-head{
      font-size: xx-large;
    }

    .icon{
      margin: 0px 7px;
    }

    .top-elem1{
      display: none;
    }

    .contact-nav{
      height: 30px;
    }

    .navbar{
      top: 0;
      height: 2.5rem;
    }

    .nav-navigator{
      justify-content: space-between;
    }

    .nav-elem{
      display: none;
    }

    .dropdown{
      display: block;
    }

    .dropdown-content-container{
      top: 2.5rem;
    }

  }

  @media only screen and (max-width: 300px) {
    .navbar-top{
      display: none;
    }

        .nav-navigator{
      background-color: white;
    }

    .navigator-head{
      flex: 1;
      text-align: center;
      font-size: large;
    }

    .dropdown-content-container::after{
      display: none;
    }
  }




