

.third-segment-container{
    position: relative;
    top: 230px;
    padding: 0 2%;
    height: auto;
    width: 96%;
}

.third-segment-container::after{
    content: '';
    position: absolute;
    bottom: -50px;
    height: 2px;
    width: 100%;
    left: 0;
    border-top: 1px dotted rgb(152, 152, 152);
    border-bottom: 1px dotted rgb(152, 152, 152);
}